# copy this file, rename it to .env and fill in the fields

SECRET_KEY=''
DATABASE_URL='postgresql://yourusername:yourpassword@localhost/databasename'
PORT=9000
HOST='0.0.0.0'

# dont change
FLASK_APP=config