[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-migrate = "*"
flask-marshmallow = "*"
psycopg2 = "*"
pyjwt = "*"
python-dotenv = "*"
python-dateutil = "*"
email-validator = "*"
marshmallow-sqlalchemy = "*"
gunicorn = "*"
flask-cors = "*"
flask-jwt-extended = "*"
flask-mail = "*"
requests = "*"
faker = "*"
autopep8 = "*"
pillow = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
pytest-html = "*"
pytest-excel = "*"

[requires]
python_version = "3.9"
